<!doctype html>
<html>
    <head>
      <title>{% block title %}roti.io{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

        <!-- Bootflat's JS files.-->
        <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
        <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
        <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
        {% block head %}{% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="/static/img/roti.png" height="40px" style="margin:5px 10px"/>
                    <a class="navbar-brand" style="float:right;font-weight:bold" href="/">roti.io</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a class="nav-link" href="makersetup.html">Make Rotis</a></li>
                      {% if current_user.is_authenticated() %}
                      <li><a class="nav-link" href="{{ url_for_security('logout') }}">Logout</a></li>
                      {% else %}
                      <li><a class="nav-link" href="{{ url_for_security('login') }}">Login</a></li>
                      <li><a class="nav-link" href="{{ url_for_security('register') }}">Register</a></li>
                      {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block before_content %}{% endblock %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
    </body>
</html>
