{% extends "base.html" %}

{% block head %}
<style>
  .intro-header {
    margin-top: -20px;
    text-align: center;
    color: #F8F8F8;
    background: url("/static/img/intro_bg.jpg") no-repeat scroll center center / cover transparent;
  }

  .intro-header h1, .intro-header h3 {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
  }

  .overlay {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(33,44,55,0.6);
  }

  .intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 15%;
  }

  .intro-divider {
    width: 400px;
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .centertext {
    text-align: center;
  }

  .steps {
    margin-top: 15px;
    margin-bottom: 15px;
  }
</style>

{% endblock %}

{% block content %}
<div class="intro-header">
  <div class="overlay content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <div class="row">
              <div class="col-lg-12">
                <h1>Buy home cooked rotis</h1>
                <h3>without the cooking</h3>
                <hr class="intro-divider"/>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                &nbsp;
              </div>
              <div class="col-lg-4 input-group">
                <a class="btn btn-lg btn-success" href="/search">Find Rotis</a>
              </div>
              <div class="col-lg-4">
                &nbsp;
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row steps">
  <div class="col-lg-4 centertext">
    <h3>Step 1</h3>
    You want rotis
  </div>
  <div class="col-lg-4 centertext">
    <h3>Step 2</h3>
    Buy some rotis
  </div>
  <div class="col-lg-4 centertext">
    <h3>Step 3</h3>
    Eat the damn rotis
  </div>
</div>
<br/>
<br/>

<script type="text/javascript">
    results = function() {
            window.location.href="results?q=" + $("#query-text")[0].value;
        }

    $("#query-button").onclick = function() {
        results();
    }

    $("#query-text").keyup( function(event){
        if(event.keyCode == 13){
            $("#query-button").click();
        }
    });
</script>

{% endblock %}
